<div class="body-right">
    <div class="app-table">
        <table class="table table-striped">
            <thead ng-click="logData(deviceList)">
                <tr>
                    <th scope="col">
                        <input 
                        style="cursor: pointer" type="checkbox" ng-model="selectAll.value" 
                        ng-true-value="true" ng-false-value="false"/></th>
                    <th ng-click="sortData('name')" scope="col">Name</th>
                    <th ng-click="sortData('address')" scope="col">Address</th>
                    <th ng-click="sortData('macAddress')" scope="col">MAC Address</th>
                    <th ng-click="sortData('status')" scope="col">Status</th>
                    <th ng-click="sortData('type')" scope="col">Type</th>
                    <th ng-click="sortData('version')" scope="col">Version</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-click="rowClicked(deviceItem); actionRowOnToggle(deviceItem)" ng-model="deviceItem.select" style="cursor: pointer;" ng-repeat="deviceItem in deviceList | orderBy :'name' : false" ng-class="[{'bg-color-row-table': $odd},{}]">
                    <td scope="row">
                        <input
                            style="cursor: pointer";
                            type="checkbox"
                            ng-model="deviceItem.select"
                            ng-init="deviceItem.select = false"
                            ng-click="toggleSelection(deviceItem); $event.stopPropagation()"
                        />
                    </td>
                    <td>{{deviceItem.name}}</td>
                    <td>{{deviceItem.address}}</td>
                    <td>{{deviceItem.macAddress}}</td>
                    <td><button ng-class="deviceItem.status"
                         class="btn btn-teal btn-rounded btn-sm btn-status">
                        {{deviceItem.status}}
                    </button></td>
                    <td>{{deviceItem.type}}</td>
                    <td>{{deviceItem.version}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
