<div class="body-right container">
      <div class="app-table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><input type="checkbox" /></th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">MAC Address</th>
              <th scope="col">Status</th>
              <th scope="col">Type</th>
              <th scope="col">Version</th>
            </tr>
          </thead>
          <tbody>    
            <tr ng-repeat="deviceItem in deviceList">
              <th scope="row"><input type="checkbox" /></th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td><button class="btn btn-danger">Warning</button></td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
 </div>