<div>
    <h3>CREATE MANAGED DEVICE</h3>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input
                    ng-model="$parent.frmName"
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Type name device"
                />
            </div>
            <div class="form-group col-md-6">
                <label for="address">Address</label>
                <input
                    ng-model="$parent.frmAddress"
                    type="text"
                    class="form-control"
                    id="address"
                    placeholder="Type address"
                />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="macAddress">MAC Address</label>
                <input
                    ng-model="$parent.frmMacAddress"
                    type="text"
                    class="form-control"
                    id="macAddress"
                    placeholder="Type MAC Address"
                />
            </div>
            <div class="form-group col-md-6">
                <label for="status">Status</label>
                <select ng-model="$parent.frmStatus" id="status" class="form-control">
                    <option>Up</option>
                    <option>Warning</option>
                    <option>Down</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="type">Type</label>
                <input
                    ng-model="$parent.frmType"
                    type="text"
                    class="form-control"
                    id="type"
                    placeholder="Type device"
                />
            </div>
            <div class="form-group col-md-6">
                <label for="version">Version</label>
                <input
                    ng-model="$parent.frmVersion"
                    type="text"
                    class="form-control"
                    id="version"
                    placeholder="Type version"
                />
            </div>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary btn-create" ng-disabled="isDisableEditButton"  ng-click="createNewMangedDevice()">Create new</button>
            <button class="btn btn-danger btn-cancel" ng-click="Cancel()">Cancel</button>
        </div>
    </form>
</div>
