<div class="container-fluid">
    <div class="link" id="managed-device">
        <div><i class="fas fa-home"></i></div>
        <div>
            <a href="#">Discovery</a> >
            <a href="#/managed-device">Managed Devices</a>
        </div>
    </div>
    <div class="deviceList">
        <div>Device List</div>
        <div>
            <span ng-click="changeView('create')"><i class="fas fa-plus-circle"></i></span>
            <span ng-click="changeView('edit')">
                <i class="fas fa-edit" ng-disabled="isDisableEditButton"></i>
            </span>
            <span ng-click="removeMangedDevice(deviceList)" ng-confirm-click="Are you sure to delete this record ?"><i class="far fa-trash-alt"></i></span>
        </div>
    </div>
    <div ng-include="url"></div>
</div>
