<div class="container-fluid">
    <div class="link" id="managed-device">
        <div><i class="fas fa-home"></i></div>
        <div>
            <a href="#">Discovery</a> >
            <a href="#/managed-device">Managed Devices</a>
        </div>
    </div>
    <div class="deviceList" ng-show="isView">
        <div>Device List</div>
        <div style="cursor: pointer;">
            <button class="btn btn-primary" ng-click="goToCreatePage()"><i class="fas fa-plus-circle"></i></button>
            <button class="btn btn-primary" ng-disabled="selected.length != 1" ng-click="goToEditPage()">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-primary" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="removeUser($index)" ng-disabled="selected.length == 0" ng-click="remove()"><i class="far fa-trash-alt"></i></button>
        </div>
    </div>
    <div ng-include="url"></div>
</div>
